/*----- CSS REST ----- */

* {
    padding: 0;
    margin: 0;
    font-size; 100%;
    line-height: 20px;
}

body {
    width: 100%;
    max-width: 100%;
    padding: 0 0 0 5px;
    font-family: 'Vertigon', sans-serif;
    margin: auto;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

/* ----- NAVIGATION ----- */

.nav {
    background-color: black;
    color: #FF6000;
    list-style: none;
    text-align: center;
    padding: 25px 0 25px 0;
    margin: 0;
}

.nav > li {
    display: inline-block;
    padding: 0 30px 0 30px;
    float: none;
}

.nav > li > a {
    text-decoration: none;
    font-family: 'Art Post black', sans-serif;
    color: #FF6000;
}

.nav > li > a:hover {
    color: white;
}

/* ----- HEADER ----- */

.heading {
    display: flex;
    flex-direction: column;
    width: 1366px;
    }

.banner-image {
    width: 1366px; 
    height: 100%;
}

/*----- FONTS -----*/

@font-face {
font-family: "Art Post black";
src: url("artpost.ttf");
}

@font-face {
font-family: "Hitchcock";
src: url("hitchcock.ttf");
}

@font-face {
font-family: "Sinzano";
src: url("sinzano.ttf");
}

@font-face {
font-family: "Vertigon";
src: url("vertigon.otf");
}

/* ----- TYPOGRAPHY ----- */

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 5px;
    font-family: 'Hitchcock', sans-serif;
    color: #FF6000;
    font-size: 35px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    top: 10px;
    transform: translateY(100%);
}

h6 {
    margin: 0;
    padding: 5px;
    font-family: 'Hitchcock', sans-serif;
    color: #777;
    font-size: 15px;
    font-weight: normal;
    text-align: right;
    float: right;
    position: relative;
}


.heading1 {
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    border-bottom: 50px solid #000000;
}


.heading2 {
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 320px;
    width: auto;
    border-bottom: 50px solid #000000;
}


.heading3 {
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    border-bottom: 50px solid #000000;
}

.heading4 {
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 280px;
    width: auto;
    border-bottom: 50px solid #000000;
}

.heading5 {
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    border-bottom: 50px solid #000000;
}

/* ----- HEADINGS ----- */

.whoishe, .filmcont, .corbrands, .influtoday {
    display: flex;
    flex-direction: column;
}

/* ----- PARAGRAPHS ----- */

.who {
    width: 70%;
}

.film {
    float: left;
    margin-left: 47px;
    width: 95%;
    text-align: left;
}

.logos {
    float: right;
    margin-right: 100px;
    width: 100%;
    text-align: left;
    padding: 0 100px 0 5px;
}

.conclusion {
    width: 80%;
    padding: 0 0 20px 5px;
}

/* ----- BLOCKQUOTES ----- */

blockquote {
    padding: 25px;
    font-family: 'Sinzano', sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #777;
}

blockquote cite {
    font-size: 25px;
}

.MSQuote {
    text-align: center;
}

/* ----- IMAGES ----- */

.headshot {
    width: 259px;
    height: 194px;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 0 10px 70px 0;
    vertical-align: top;
}

.carmen {
    width: 220px;
    height: 326px;
    float: left;
    padding: 0 50px 20px 0;
}

.gold {
    width: 220px;
    height: 326px;
    float: right;
    padding: 0 0 0 5px;
}

.love {
    width: 220px;
    height: 326px;
    float: left;
    padding: 0 50px 85px 0;
}

.logolist {
    width: 400px;
    height: 795px;
    float: right;
    padding: 10px 0 140px 20px;
}

.precious {
    align-items: center;
    margin: 10px auto 10px auto;
    padding: 0 0 10px 0;
}

.burn {
    align-items: center;
    margin: 10px auto 10px auto;
    padding: 0 0 10px 0;
}

.white {
    align-items: center;
    margin: 10px auto 0 auto;
    padding: 10px;
}

/*----- INFLUENCES TODAY -----*/

.influtoday {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
}

.influ {
    float: right;
    margin-left: 280px;
    margin-bottom: 20px;
    width: 75%;
    text-align: left;
}

.influ2 {
    float: right;
    margin-left: 280px;
    margin-bottom: 20px;
    width: 75%;
    text-align: left;
}

.influ3 {
     float: right;
    margin-left: 280px;
    margin-bottom: 20px;
    width: 75%;
    text-align: left;
}

.influ4 {
    float: right;
    margin-left: 280px;
    margin-bottom: 0;
    width: 75%;
    text-align: left;
}


/* ----- FOOTER -----*/

.sources {
    color: #FF6000;
    list-style: none;
    text-align: center;
    float: left;
    padding: 25px 0 25px 0;
    margin-left: 60px;
    width: auto;
}

.sources > li {
    display: inline-block;
    padding: 0 30px 0 30px;
    float: none;
}

.sources > li > a {
    text-decoration: none;
    font-family: 'Vertigon', sans-serif;
    color: #FF6000;
}

.sources > li > a:hover {
    color: black;
}

.references {
    color: #FF6000;
    list-style: none;
    text-align: center;
    float: left;
    padding: 25px 0 25px 0;
    margin-right: 210px;
    width: auto;
}

.references > li {
    display: inline-block;
    padding: 0 30px 0 30px;
    float: none;
}

.references > li > a {
    text-decoration: none;
    font-family: 'Vertigon';
    color: #FF6000;
}

.references > li > a:hover {
    color: black;
}

-----------------------------
